
<% if @featured_products.present? %>
  <div class="f-products">
    <h2>Featured Products</h2>
    <%= render :partial => "spree/shared/products_special", :locals => { :products => @featured_products, :type => 'f' } %>
  </div>
<% end %>

<% if @featured_products.present? %>
  <div class="f-products d-products">
    <h2>Discounted Products</h2>
    <%= render :partial => "spree/shared/products_special", :locals => { :products => @discounted_products, :type => 'd' } %>
  </div> 
<% end %>