<h2>Exclusive Offers</h2>
<p>Sign Up for Our Newsletter and get the exclusive offers directly into your inbox.</p>
<form>
<input type="text" class="text" value="Type your email address ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type your email address ...';}">
<input type="submit" value="" />
</form>
<div class="shhiping text-center">
<h2>Free Shipping</h2>
<a href="#"><img src="/assets/spree/frontend/offer-pic.png" title="$250" /></a>
</div>