<%# content_for :sidebar do %>
 <!--  <div data-hook="homepage_sidebar_navigation">
    <%#= render :partial => 'spree/shared/taxonomies' %>
  </div> -->
<% #end %>



<!-- all products section starts -->
<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
  	
    <%#= render :partial => 'products', :locals => { :products => @products } %>
    
  <% end %>
</div>
<!-- all products section ends -->

<% if @featured_products.present? or @discounted_products.present? %>
<!-- bottom-grids -->
<div class="bottom-grids">
  <div class="container">
    <div class="col-md-9 bottom-grids-left">
      <%= render partial: "featured" %>
    </div>
    
    <div class="col-md-3 bottom-grids-right">
      <%= render partial: "right_sidebar" %>
    </div>
       
    <div class="clearfix"> </div>
  </div>
</div>
<!-- bottom-grids -->
<% end %>



