<%# content_for :sidebar do %>
 <!--  <div data-hook="homepage_sidebar_navigation">
    <%#= render :partial => 'spree/shared/taxonomies' %>
  </div> -->
<% #end %>



<!-- all products section starts -->
<!-- ######################## -->

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
  	
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
    
  <% end %>
</div>
<!-- ######################## -->
<!-- all products section ends -->

<!-- bottom-grids -->
<div class="bottom-grids">
  <div class="container">
    <div class="col-md-12 bottom-grids-left">
        <div class="f-products">
          <h2>Featured Products</h2>
          <%= render :partial => "spree/shared/products_special", :locals => { :products => @featured_products, :type => 'f' } %>
        </div>
        
        <div class="f-products">
          <h2>Discounted Products</h2>
          <%= render :partial => "spree/shared/products_special", :locals => { :products => @discounted_products, :type => 'd' } %>
      
        </div>
    </div>
    
    <div class="clearfix"> </div>
  </div>
</div>
<!-- bottom-grids -->



