<%# content_for :sidebar do %>
 <!--  <div data-hook="homepage_sidebar_navigation">
    <%#= render :partial => 'spree/shared/taxonomies' %>
  </div> -->
<% #end %>


<!-- slideshow section starts -->
<!-- ######################## -->


<!-- ######################## -->
<!-- slideshow section ends -->

<!-- all products section starts -->
<!-- ######################## -->

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
  	
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
    
  <% end %>
</div>
<!-- ######################## -->
<!-- all products section ends -->

<div data-hook="featured_products">
 <h1>Featured Products</h1>
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @featured_products } %>
  <% end %>
</div>

<div data-hook="discounted_products">
 <h1>Discounted Products</h1>
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @discounted_products } %>
  <% end %>
</div>


